In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('all-data.csv', encoding = 'latin-1', names = ['labels', 'messages'])

# basic df exploration
print(df.head())
print(df.shape) # there are 4845 observations
#print(df.describe())
#print(df.dtypes)

     labels                                           messages
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...
(4846, 2)

In [11]:
df

        labels                                           messages
0      neutral  According to Gran , the company has no plans t...
1      neutral  Technopolis plans to develop in stages an area...
2     negative  The international electronic industry company ...
3     positive  With the new production plant the company woul...
4     positive  According to the company 's updated strategy f...
...        ...                                                ...
4841  negative  LONDON MarketWatch -- Share prices ended lower...
4842   neutral  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4843  negative  Operating profit fell to EUR 35.4 mn from EUR ...
4844  negative  Net sales of the Paper segment decreased to EU...
4845  negative  Sales in Finland decreased by 10.5 % in Januar...

[4846 rows x 2 columns]

In [12]:
# check for null values 
df.isnull().sum()

labels      0
messages    0
dtype: int64

In [13]:
df.labels.value_counts()

neutral     2879
positive    1363
negative     604
Name: labels, dtype: int64

## Introductory Paragraph to our Data & Project

Our dataset consists of 4,845 rows and 2 columns, where each row corresponds to the sentiment and headline of a financial news article. We got the data from Kaggle as a .csv and are able to import it to a Jupyter Notebook, where we will be doing most of our data manipulation, modeling and analysis. We decided to stay consistent with coding in python for this course in order to gain more program experience with this tool, as opposed to most of our ciriculum taught in R. As we investigate this dataset, our research question is currently looking to see how well we can accurately predict sentiments towards financial news headlines, by performing sentiment analysis and validating with our current labeled data. 

Preliminary exploration of the dataset has showed us that we have a relatively clean dataset: there are no missing values and our labels are relatively balanced with 59% neutral sentiments, 28% positive sentiments, and 13% negative sentiments. 

Future direction we plan on taking throughout the rest of the quarter is to clean our data so it is optimal for modeling (i.e. getting rid of stop words), creating models that will predict the sentiment of the headline, testing our model, tuning, and finally creating insightful conclusions to share with the class.